<% include ./header %>
<link rel='stylesheet' href='/css/editormd.min.css' />
	<% include ./sideImg %>
	<div class="page-area">
	<% include ./nav %>
	<div class="pd20">
		<div class="columns">
		  <div class="column column is-2">
		  	<% include ./sideMenu %>	
		  </div>
		  <div class="column column is-10 articleAddPanle">
			<% include ./breadcrumb %>
			<div class="field">
				<label class="label">* 文章标题</label>
				<p class="control has-icons-left has-icons-right">
					<input class="input" type="email" placeholder="文章标题" id="articleTitle">
					<span class="icon is-small is-left">
						<i class="fa fa-pencil"></i>
					</span>
				</p>
				<p class="help is-danger" style="display: none;">
					* 标题不能为空
				</p>
			</div>
			<div class="field">
				<label class="label">封面图地址</label>
				<p class="control has-icons-left has-icons-right">
					<input class="input" type="text" placeholder="封面图地址" id="articleUrl">
					<span class="icon is-small is-left">
						<i class="fa fa-photo"></i>
					</span>
				</p>
			</div>
			<div class="field">
				<label class="label">文章分类</label>
				<p class="control has-icons-left">
					<span class="select">
					<select id="articleTypeId">
						<% articleType.forEach(function(item){%>
						<option value="<%= item.typeId %>"><%= item.typeName %></option>
						<% }) %>
					</select>
					</span>
					<span class="icon is-small is-left">
						<i class="fa fa-tag"></i>
					</span>
				</p>
			</div>
			<div class="field">
				<label class="label">文章内容</label>
				<div class="control" id="test-editormd">
					<textarea class="textarea" placeholder="文章内容" id="articleContent" style="display:none;"></textarea>
				</div>
			</div>
				<button id="saveBtn" class="button is-primary" style="position: inherit; z-index:inherit">添加</button>
				<button id="toback" class="button is-default" style="position: inherit; z-index:inherit">返回</button>
		  </div>
		</div>	
	</div>
	</div>
	<script src="/js/editormd.min.js"></script>
	<script src="/js/clipboard.min.js"></script>
	<script src="/js/art-template.min.js"></script>
	<script>
        $(function() {

        //定义获取图库函数
        function getImg(){
        	$.ajax({
        		url: '/photo/get'
        	})
        	.done(function(data) {
        		var cardTpl = template("cardTpl",data);
				$("#cardList").html(cardTpl)

				//复制url
				var clipboard = new ClipboardJS('.copeUrl');
			    clipboard.on('success', function(e) {
			        $.lDialog.iconToast({
					  title: '复制成功',	//toast标题,默认"我是一个iconToast"
					  icon: 'success',	//toast-icon类型，默认为"success"	
					  duration: 2000	//显示时间，默认为2500秒
					})
			    });
			    clipboard.on('error', function(e) {
			        $.lDialog.iconToast({
					  title: '复制失败',	//toast标题,默认"我是一个iconToast"
					  icon: 'error',	//toast-icon类型，默认为"success"	
					  duration: 2000	//显示时间，默认为2500秒
					})
			    });
        	})
        	.fail(function(res) {
        		console.log(res);
        	})
        	
        }

        getImg();	//获取图库


		$("#file1").change(function(){
			//请求中
			$.lDialog.sLoadingToast({
                title: '请求中',
                theme:'default'
            });
		    var formData = new FormData();
		    formData.append("myfile", document.getElementById("file1").files[0]);   
		    $.ajax({
		        url: "/photo/add",
		        type: "POST",
		        data: formData,
		        /**
		        *必须false才会自动加上正确的Content-Type
		        */
		        contentType: false,
		        /**
		        * 必须false才会避开jQuery对 formdata 的默认处理
		        * XMLHttpRequest会对 formdata 进行正确的处理
		        */
		        processData: false,
		        success: function (data) {
		        	$.lDialog.hLoadingToast() //关闭sLoadingToast
		        	if(data == 200){
		        		$.lDialog.iconToast({
						  title: '上传成功',	//toast标题,默认"我是一个iconToast"
						  icon: 'success',	//toast-icon类型，默认为"success"
						  theme:'default',	//主题色，默认为default	
						  duration: 2000	//显示时间，默认为2500秒
						})
						getImg();
		        	}
		        },
		        error: function (res) {
		            console.log(res);
		        }
		    });
		});        
        
		//通用部分

        var testEditor = editormd("test-editormd", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "/lib/"
        });
		var articleTitle = $("#articleTitle"),	//文章标题
		articleTypeId = $("#articleTypeId"),	//分类id
		articleContent = $("#articleContent"),	//文章内容
		articleUrl = $("#articleUrl"),	//封面图
		titleHelp = $(".help");	//标题提示文章

		//文章标题离开是否为空
		articleTitle.blur(function(){
			if($(this).val()==""){
				$(this).addClass('dangerText');
				titleHelp.show();
			}else {
				$(this).removeClass('dangerText');
				titleHelp.hide();
			}
		});
		//添加事件
		$("#saveBtn").click(function(event) {
			if(articleTitle.val() == ""){
				//标题不能为空
	            $.lDialog.iconToast({
	                title: '标题不能为空',
	                icon: 'error',
	                theme:'default',
	                duration: 2000
	            })
	            articleTitle.addClass('dangerText');
				titleHelp.show();
	            articleTitle.focus();
				return;
			}
			//console.log(articleContent.val());
			//请求中
			$.lDialog.sLoadingToast({
                title: '请求中',
                theme:'default'
            });
			$.ajax({
				url: '/article/add',
				type: 'post',
				data: {
					articleTitle: articleTitle.val(),
					articleTypeId: articleTypeId.val(),
					articleUrl: articleUrl.val(),
					articleContent: articleContent.val()
				},
			})
			.done(function(res) {
				console.log(res);
				$.lDialog.hLoadingToast() //关闭sLoadingToast
				//添加成功，是否继续添加或者返回列表页
	            $.lDialog.iconToast({
	                title: '更新成功',
	                duration: 2000
	            })
	            window.location.href="/article"
			})
			.fail(function(res) {
				console.log(res);
			})
			
		});

		//返回按钮
		$("#toback").click(function(event) {
			if((articleTitle.val() !== "") || (articleContent.val() !== "") || (articleUrl.val() !== "")){
				//显示按钮模态框
	            $.lDialog.btnModal({
	                title:'温馨提示',
	                content:'你有信息没有保存！你确认要退出？'
	            },function(){   //点击确认按钮之后执行
	                window.location.href="/article"
	            })
			}else {
				window.location.href="/article"
			}
		});
	});
	</script>
<% include ./footer %>


