<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='./css/bulma.min.css' />
    <link rel="stylesheet" href="./css/lDialog.min.css">
    <link rel='stylesheet' href='./css/style.css' />
    <script src="./js/jquery.js"></script>
    <script src="./js/lDialog.min.js"></script>
    <script src="./js/common.js"></script>
  </head>
  <body>