<% include ./header %>
	<div class="page-area">
		<% include ./nav %>
		<div class="pd20">
			<div class="columns">
			  <div class="column">
			    <a class="nav-panel is-primary" href="/webInformation">站点信息</a>
			  </div>
			  <div class="column">
			    <a class="nav-panel is-info" href="/webInformation">添加文章</a>
			  </div>
			</div>
		</div>
	</div>
<% include ./footer %>


