<nav class="navbar is-transparent is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <i class="fa fa-home fa-fw"></i>首页
      </a>
      <a class="navbar-item" href="/article/add">
        <i class="fa fa-pencil"></i> 添加文章
      </a>
    </div>
  </div>
  <div class="navbar-end">
  	<a class="navbar-item" href="/login">
      <i class="fa fa-close"></i><span class="ml-5">退出</span>
    </a>
  </div>
</nav>