<p class="buttons sideMenu-nav">
	<a class="button is-primary w100" href="/webInformation">
	    <span class="icon">
	      <i class="fa fa-bookmark"></i>
	    </span>
	    <span>站点信息</span>
	</a>
	<a class="button is-info w100" href="/article">
	    <span class="icon">
	      <i class="fa fa-pencil"></i>
	    </span>
	    <span>文章列表</span>
	</a>
	<a class="button is-danger w100" href="/users">
	    <span class="icon">
	      <i class="fa fa-user"></i>
	    </span>
	    <span>用户信息</span>
	</a>
</p>