<% include ./header %>
	<div class="page-area">
	<% include ./nav %>
	<div class="pd20">
		<div class="columns">
		  <div class="column column is-2">
		  	<% include ./sideMenu %>	
		  </div>
		  <div class="column column is-10">
			<% include ./breadcrumb %>
				<div class="field">
				  <label class="label">网站名称</label>
				  <div class="control">
				    <input class="input" name="siteName" type="text" placeholder="网站名称" value="<%= siteInfo.siteName %>" >
				  </div>
				</div>
				<div class="field">
				  <label class="label">备案信息</label>
				  <div class="control">
				    <input class="input" name="siteIcp" type="text" placeholder="备案信息" value="<%= siteInfo.siteIcp %>" >
				  </div>
				</div>
				<div class="field">
				  <label class="label">版权信息</label>
				  <div class="control">
				    <textarea class="textarea" name="siteCopy" placeholder="版权信息"><%= siteInfo.siteCopy %></textarea>
				  </div>
				</div>
				<div class="field is-grouped">
				  <div class="control">
				    <button id="saveBtn" class="button is-primary">保存</button>
				  </div>
				</div>
		  </div>
		</div>	
	</div>
	</div>
	<script>
		$("#saveBtn").click(function(event) {
			//显示sLoadingToast
            $.lDialog.sLoadingToast({
                title: '加载中',
                theme:'default'
            });
			var Params = {
				siteName: $("input[name^='siteName']").val(),
				siteIcp: $("input[name^='siteIcp']").val(),
				siteCopy: $("textarea[name^='siteCopy']").val()
			};
			$.ajax({
				url: '/webInformation',
				type: 'POST',
				data: Params
			})
			.done(function(res) {
				//res:200 为OK
				if(res == "OK"){
					$.lDialog.hLoadingToast() //关闭sLoadingToast
					//显示iconTiast，类型有：success,error
		            $.lDialog.iconToast({
		                title: '更新成功',
		                duration: 2000
		            })
				}
			})
			.fail(function(res) {
				console.log(res);
			})
			
		});
	</script>
<% include ./footer %>


