html,body {
	width: 100%;
	height: 100%;
	background: #eee;
}
body {
	padding:5% 15%;
	box-sizing: border-box;
}
.page-area {
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow:0px 0px 10px rgba(244,244,244,0.5);
	border-radius: 5px;
	overflow: auto;
}
.pd20 { padding: 20px; }
.w100 { width: 100%; }
.ml-5 { margin-left: 5px; }

.page-area .breadcrumb {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f5f5f5;
}

.nav-panel {
	text-align: left;
	color: #fff;
	background: #eee;
	display: block;
	border-radius: 4px;
	padding: 10px 0px 10px 20px;
	font-size: 14px;
	margin-bottom: 10px;
}
.nav-panel:hover { color: #fff; }

.sideMenu-nav .button:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 0.8rem;
}

.login {
	max-width: 300px;
	margin: 10% auto;
}

.login .title {
	text-align: center;
}

.articleAddPanle .dangerText {
	border-color: #ff3860;
    box-shadow: 0 0 0 0.125em rgba(255,56,96,.25);
}

@media screen and (max-width: 1120px) {
    body {
        padding:20px;
    }
}

@media screen and (max-height: 600px) {
    body {
        padding:20px;
    }
}

@media screen and (max-width: 414px) {
    .page-area {
		width: 100%;
		height: auto;
	}
}